bower_components
docs
node_modules
npm-debug.log
.grunt
example/public/lib/vendor/*
example/public/lib/node_modules
example/composer\.phar
\.idea/
etc/ssl/
\.ideaold/
example/public/credentials_public\.json
example/config/credentials.php
example/vendor/

bin/tests/errors/

bin/tests/result\.xml

docker/apache/var/log/apache2/access\.log

docker/apache/var/log/apache2/error\.log

docker/apache/var/log/apache2/other_vhosts_access\.log
