bower_components
docs
node_modules
npm-debug.log
.grunt
example/public/lib/vendor/*
example/public/lib/node_modules
example/composer\.phar
\.idea/
etc/ssl/
\.ideaold/
example/public/credentials_public\.json
example/config/credentials.php
example/vendor/

bin/tests/errors/
