bower_components
node_modules
node_modules_a_jeter
docs

npm-debug.log

.grunt

example/public/lib/vendor/*
example/public/lib/node_modules

example/composer\.phar
example/config/credentials.php

\.idea/

etc/ssl/

\.ideaold/

example/public/credentials_public\.json
