/* input placeholder */

/*input , input[placeholder], [placeholder] {*/
.default-card-form , .default-card-form[placeholder], [placeholder] {
    color: #005a94 !important;
    font-weight: bold;
}

.form-control::-moz-placeholder {
    color: #5da3d0 !important;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #5da3d0 !important;
}
.form-control::-webkit-input-placeholder {
    color: #5da3d0 !important;
}

input:disabled , input[placeholder]:disabled, [placeholder]:disabled {
    /*color: #005a94 !important;*/
    color: #ccc !important;
    font-weight: bold;
}
input:disabled.form-control::-moz-placeholder {
    color: #ccc !important;
    opacity: 1;
}
input:disabled.form-control:-ms-input-placeholder {
    color: #ccc !important;
}
input:disabled.form-control::-webkit-input-placeholder {
    color: #ccc !important;
}
/* ./ input placeholder */

/* error input */
.error-card-form {
    color: #ff0000 !important;
}
/* ./ error input */


